{% extends 'base.html.twig' %}

{% block title %}Inscription au site{% endblock %}

{% block body %}

    <div class="container">
        <h1>Inscrivez vous</h1>
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button class="submit btn btn-success">Confirmez l'inscription</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
