header {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mask {
    padding: 2rem 4rem;
}

.call-to-action {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

