<p>
    Bonjour {{ user.FullName }}, vous vous êtes inscrit sur SnowTricks avec succès !<br>
    Pour valider votre compte, veuillez valider votre email en cliquant sur le lien ci-dessous :<br>
    <a href="{{ url('email_validation', {username : user.username , token: user.token}) }}">Activer mon compte</a>
    <br>
    <br>
    Merci !
</p>

