{% extends 'base.html.twig' %}

{% block title %}Création d'une figure{% endblock %}

{% block body %}


    <div class="container">
        <h1>Créer une nouvelle figure</h1>
        {{ form(form) }}
    </div>
{% endblock %}
